
.selection {
    width: calc(100% - 20px);
    font-weight: bold;
    margin: 10px;

    div {
        max-width: 320px;
        float: left;
        padding: 10px;

        font-weight: bold;
    }

    ion-select {
        max-width: 320px;
        float: right;
    }
}

img {
    width: calc(100vw - 20px);
    height: calc(100vw - 20px);

    max-width: 500px;
    max-height: 500px;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.spinnerContainer {
    width: 100%;
    height: 90%;

    max-height: 500px;

    ion-spinner {
        top: 50%;
        left: 50%;
        position: relative;
    }
}

.description-block {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;

}