<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Maturity</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/user">
                {{username}}
            </ion-button>
            <ion-button (click)="logout.logout()">
                <ion-icon name="power"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="description-block">
        Here you can see the current maturity of certain positions. The maturity for different plants is based on expected values for the plants growth rate.
    </div>
    <table class="selection">
        <tr>
            <td style="text-align: left">Please select the plant type for this field: </td>
            <td style="text-align: right">
                <ion-select interface="popover" value="1" [(ngModel)]="selectedMap" (ionChange)="loadNewImage()">
                    <ion-select-option *ngFor="let entry of maps" value="{{entry.id}}">{{entry.name}}</ion-select-option>
                </ion-select>
            </td>
        </tr>
    </table>

    <img [hidden]="mapLoading" src="{{ currentMap }}" alt="Could not load map">
    <div class="spinnerContainer" [hidden]="!mapLoading">
        <ion-spinner duration="indefinite"></ion-spinner>
    </div>

</ion-content>
